.logo {
    float: left;
    padding: 0 20% 0 2%;
}

.logo img {
    width: 4em;
    height: 4em;
}

.navRoot {
    display: flex;
    align-items: center;
    border-top: solid 1px #b9b9b9;
    border-bottom: solid 1px #b9b9b9;
}

.navContent {
    text-align: center;
    border-left: solid 1px #b9b9b9;
    width: 140px;
    height: 70px;
    float: left;
    transition: 0.3s;
    line-height: 70px;
    color: black;
    font-weight: 300;
    font-size: large;
}

.navContentLast {
    border-right: solid 1px #b9b9b9;
}

.navContent:hover {
    background-color: #dbdbdb;
}

.loginContent {
    float: right;
}

.navLogin {
    width: 90px;
}

@media screen and (max-width: 1200px) {
    .navContent {
        width: 100px;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        padding: 0 5% 0 2%;
    }

    .logo img {
        width: 70px;
        height: 70px;
    }

    .navContent {
        width: 100px;
        height: 50px;
        line-height: 50px;
        border: none;
        font-weight: 400;
    }

    .navContentLast {
        border: none;
    }
}