.card {
  width: 280px;
  height: 410px;
  display: block;
  margin: 50px auto;
  transition: all 0.3s ease;
}

.card:hover {
  z-index: 5;
  transform: scale(1.2);
  box-shadow: 0px 0px 50px 11px rgba(0,0,0,0.25);
}

.cardHeader {
  height: 280px;
  width: 100%;
}

.cardHeader img {
  height: 280px;
  width: 100%;
  object-fit: none;
}

.cardBody {
  height: 130px;
  padding: 5px 15px;
  background-color:#fff;
}

.cardContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  margin-left: auto;
}

.favNumber {
  user-select: none;
  font-weight: 300;
  font-size: small;
}

