.main {
    background-color: rgb(247, 248, 249);
    font-family: 'Pretendard';
}

/* Scroll Bar Style */ 
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgb(136, 136, 136);
    border-radius: 10px;  
}

::-webkit-scrollbar-track{
    background-color: rgba(33,133,133,0.33);
    border-radius: 10px;
}


/* react-split Style */
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
