ul {
  list-style: none;
  padding: 0px;
}

.treeapp {
  height: 70vh;
  padding: 2em 10px;
}

.treeRoot > :last-child {
  padding-bottom: 3em;
}
  
.treeRoot {
  height: auto;
}
  
.draggingSource {
  opacity: 0.3;
}

/*.dropTarget {
  background-color: #e8f0fe;
}*/
  